<!DOCTYPE html>
<html>
  <head>
    <title>cactus-web</title>
    <link rel="stylesheet" href="styles/styles.css"/>
  </head>
  <body>
    <div class="header mainContainer">
      <div class="sitename mainContainer">
        <a href="index.html"><img class="Logo" src="images/cactuslogo.png"/></a>
          <h1>Restaurant and Bar</h1>
      </div>
      <div id="links" class="container3">
        <p><i>Comidas abundantes y buenos amigos.</i></p>
        <ul class="nav">
          <li id="dd_Menu"><a href="menu.html">Menu</a></li>
          <li id="dd_Reservations"><a href="reserve.html">Reservations</a></li>
          <li id="dd_Events"><a href="events.html">Events</a></li>
          <li id="dd_Photos" class="photos.html"><a href="photos.html">Photos</a></li>
          <li id="dd_Contact Us" class="contact.html"><a href="contact.html">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div class="main mainContainer">
      <div class="rightcontainer">
        <section>

        </section>
        <div class="container">

        </div>
        <div class="directcontainer">
            <h1>Email Us</h1>

          </section>
          <div class="mainContainer">
              </div>

                  <form method="post" action="#">
          <div class="group">
            <div class="left">
              <input type="text" value="" placeholder="NAME" name="name" tabindex="1" class="redacted" />
            </div>
            <div class="right">
              <input type="text" value="" placeholder="SUBJECT" name="subject" tabindex="2" class="redacted" />
            </div>
          </div>
          <div class="group">
            <div class="left">
              <input type="text" value="" placeholder="EMAIL" name="email" tabindex="3" class="redacted" />
            </div>
            <div class="right">
              <input type="text" value="" placeholder="PHONE" name="phone" tabindex="4" class="redacted" />
            </div>
          </div>
          <div>
            <textarea placeholder="MESSAGE" name="message" tabindex="5" rows="10" class="redacted"></textarea>
          </div>
          <div>
            <input type="button" value="Send Mail" tabindex="6" class="redacted" />
          </div>
        </form>
        </div>
        <div class="directcontainer2">
          <h1>Directions</h1>
          <h2>Cactus Restaurant and Bar</h2>
          <p>4245 Main Street
            Manayunk, PA 19127</br></br>
            <b>Phone: 267.385.6249</b></br>
            <b>Hours: 10 a.m. - 2:00 a.m. </b></p>
        </div>
        <div class="directcontainer3">
          <h1>Directions from North (New York, North Jersey)</h1>
          <p>Take NJ Turnpike to PA Turnpike/Exit 6. Take the PA Turnpike to Exit 326 (old exit 24; Schuylkill Expressway). Take Schuylkill Expressway (I-76) East towards Central Philadelphia. Take 76 to Manayunk Exit 338 (old exit 31), at the bottom of the ramp make a left turn, cross the Green Lane bridge to the traffic light which is Main Street and make a right turn. We are located about 1/2 mile on the left hand side after Rector Street.</p>
        </div>
        <div class="directcontainer4">
          <h1>Directions from South (Delaware, Baltimore etc.)</h1>
          <p>Take I-95 North. Follow signs for Central Philadelphia/I- 676 West. Follow 676 West to signs for Route 76 (Schuylkill Expressway) West – (towards Valley Forge). Take 76 to Manayunk Exit 338 (old exit 31), at the bottom of the ramp make a right turn cross the Green Lane bridge to the traffic light which is Main Street and make a right turn. We are located about 1/2 mile on the left hand side after Rector Street.</p>
    </div>

    <body ng-app="LocalObjectSynch">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h2>Local storage example</h2>
          </div>
        </div>
        <div class="row">
          <form ng-controller="ProductController as prod" class="col col-xs-6">
            <h3>Product Creator</h3>
            <hr>
            <div class="form-group">
              <h5>Name,</h5>
              <input class="form-control" type="text" ng-model="prod.name">
            </div>
            <div class="form-group">
              <h5>Price,</h5>
              <input class="form-control" type="number" ng-model="prod.price">
            </div>
            <input type="submit" ng-click="prod.addToCart()" class="btn btn-primary" />
          </form>
          <div class="col col-xs-6">
            <h3 ng-click="cart.debug()">Cart</h3><hr>
            <div ng-controller="CartController as cart">
              <div ng-hide="cart.getProducts().length" class="alert alert-info" role="alert"><b>Eeeyy you!!!</b>
                This is empty, type something that will persist... till you clear all your browser data!
              </div>
              <ul class="nav nav-pills nav-stacked">
                <li ng-repeat="prod in cart.getProducts()" >
                  <a href="#">
                    <button ng-click="cart.remove(prod)" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{prod.name}}<br>
                    Price: {{prod.price}}<br>
                    Date added: <time ng-bind="prod.date_added"></time>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-push-3 col-xs-6">
            <h2>Local storage example</h2>
            <hr>
            <p class="lead">
              Practical localStorage example  to demostrate the data binding and live tab update on with Angular Controllers and Services.<br>
              GitHub <a href="https://github.com/gsklee/ngStorage">ngStorage</a>.
            </p>
          </div>
        </div>
      </div>
    </body>
  </body>
</html>
