@import url(http://fonts.googleapis.com/css?family=Rancho);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);


a {
  font-size:16px;
  color:#FFF;
      transition: all 0.1s ease-in;
      text-decoration:none;
}

a:hover{
  -webkit-stroke-width: 5.3px;

      color: rgba(255,255,255,1.0);

}

body {
  width: 100%;
  margin: 0;
  font-family: helvetica, arial;
  background-image: url("../images/back.png");
  background-size: cover;
  background-position: bottom;


}

.mainContainer {
  width: 960px;
  margin: 0 auto;
}

.container2 {
  width: 1255px;
  margin: 0 auto;
  background: #393a3a;
}

.header {
  height: 250px;
  border-bottom: 1px solid #6fa890;
}

.sitename {
  color: #fec81f;
  bottom:0;
  padding: 0px;
  margin-left:0;
  float: left;
  display: block;
  width: 290px;
  overflow: hidden;
  height: 209px;
}
.sitename h1 {
  margin: -22px;
  margin-left: 72px;
  font-size: 20px;
  letter-spacing: 0px;
  font-weight: 100;
  color: #fec81f;
  font-family: 'Open Sans', sans-serif;

}

.container3 p {
  font-family: 'Rancho', cursive;
  position: absolute;
  right: 116px;
  margin-top: -102px;
  font-size: 31px;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ee7f4b, 0 0 60px #ee7f4b, 0 0 40px #ee7f4b, 0 0 50px #ee7f4b, 0 0 50px #ee7f4b;

}
.container3 {
  width: 660px;
  float: left;
  position: relative;
  top: 213px;
}

.nav {
  list-style: none;
  overflow: hidden;
  width: 660px;
  margin: 0;
  cursor: pointer;
}

.nav li {
  display: inline;
  padding: 0 20px;
  cursor: pointer;

}

.nav li a {
  text-decoration: none;
  color: #6fa890;
  font-size: 21px;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}


.nav li a:hover {

  color: #6fa890;
  font-size: 21px;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  color: white;
}




.tag {
  float: right;
  position: relative;
  right: 200px;
  top: -110px;
  cursor:pointer;

}

.tagbox {
  width: 110%;
}

.main {
  position: relative;
  height: 660px;
  color: #222222;


}

.iconcontainer {
  width: 100%;
  margin-top: -78px;
  max-height: 146px;
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
}

.leftcontainer {
  float: left;
  height: 460px;
  width: 385px;

}

.rightcontainer {
  float: left;
  height: 460px;
  width: 570px;

}

.reserve {
  width: 380px;
  height: 290px;

}

.direct {
  width: 245%;
  margin-top: -1000px;
}

.rightnav {
  width: 101%;
  margin-top: -257px;
  right:2px;
  position: absolute;
}

.square2 p {
  text-decoration: none;
  position: absolute;
  color: #fec81f;
  font-size: 25px;
  font-family: 'Rancho', cursive;
  z-index: 20;
  margin-left: 36px;
  margin-top: 20px;
  text-shadow: 1px 1px 1px #1e1e1e;
}

.squareLinksmain {
  cursor: pointer;
  font-size: 25px;
  color: #fec81f;
  font-family: 'Rancho', cursive;
}


.square3 p {
  text-decoration: none;
  position: absolute;
  color: #fec81f;
  font-size: 25px;
  font-family: 'Rancho', cursive;
  z-index: 20;
  margin-left: 318px;
  margin-top: 20px;
  text-shadow: 1px 1px 1px #1e1e1e;
}

.square4 p {
  text-decoration: none;
  position: absolute;
  color: #fec81f;
  font-size: 25px;
  font-family: 'Rancho', cursive;
  z-index: 20;
  margin-left: 317px;
  margin-top: 231px;
  text-shadow: 1px 1px 1px #1e1e1e;

}

.square5 p {
  text-decoration: none;
  position: absolute;
  color: #fec81f;
  font-size: 25px;
  font-family: 'Rancho', cursive;
  z-index: 20;
  margin-left: 36px;
  margin-top: 231px;
  text-shadow: 1px 1px 1px #1e1e1e;

}

.arrow1 {
  position: absolute;
  z-index: 20;
  margin-left: 159px;
  margin-top: 28px;


}

.arrow2 {
  position: absolute;
  z-index: 20;
  margin-left: 452px;
  margin-top: 28px;

}

.arrow3 {
  position: absolute;
  z-index: 20;
  margin-left: 417px;
  margin-top: 239px;

}

.arrow4 {
  position: absolute;
  z-index: 20;
  margin-left: 204px;
  margin-top: 240px;

}

.reserveselect {
  background-color: #fec81f;
  border: black;
  width: 177px;
  height: 28px;
  position: absolute;
  margin-left: -254px;
  margin-top: 145px;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  color: #b84f3f;

}

.reserveselect2 {
  background-color: #fec81f;
  border: black;
  width: 177px;
  height: 28px;
  position: absolute;
  margin-left: -254px;
  margin-top: 214px;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  color: #b84f3f;
}

.reserveselect3 {
  background-color: #fec81f;
  border: black;
  width: 177px;
  height: 28px;
  position: absolute;
  margin-left: -254px;
  margin-top: 282px;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  color: #b84f3f;
}


.copy1 p {
  text-decoration: none;
  position: absolute;
  color: #fec81f;
  font-size: 20px;
  font-family: 'Rancho', cursive;
  float: left;


}

.reviewbox {
  width: 90%;
  margin-top: -130px;
  right:73px;
  position: absolute;
}

.leftfooter {
  width: 750px;
  float: left;
}

.footer {
  width: 960px;
  height: 100px;
  margin: 0 auto;
}

.footerLinks1 p {
  cursor:pointer;
  margin-left: 97px;
  margin-top: -40px;
  font-size: 20px;
  color: #6fa890;
  font-family: 'Open Sans', sans-serif;
}

.footerLinks2 p {
  cursor:pointer;
  margin-left: 301px;
  margin-top: -47px;
  font-size: 20px;
  color: #6fa890;
  font-family: 'Open Sans', sans-serif;
}

.footerLinksmail{
  cursor:pointer;
  font-size: 20px;
  color: #6fa890;
  font-family: 'Open Sans', sans-serif;
}

.address2 {
  margin-top: 30px;

}
.address2 li {
  display: inline;
  padding: 12px;
  color: #6fa890;
  font-size: 14.3px;
  font-family: 'Open Sans', sans-serif;

}

.address2 li a {
  text-decoration: none;


}


.phone {
  width: 3%;
  padding: 10px;
  margin-left: 43px;

}

.mail {
  width: 3%;
  padding: 10px;
  margin-left: 150px;
}

.circle {
  margin-left: 240px;
  width: 10px;
  height: 10px;
  background: #6fa890;
  border-radius: 100%;
  margin-top: -30px;

}

.circle2 {
  margin-left: 381px;
  width: 10px;
  height: 10px;
  background: #6fa890;
  border-radius: 100%;
  margin-top: -10px;


}

.skull {
  width: 100%;
  margin-top: 40px;

}


.viewevent {
  cursor: pointer;
  font-size: 50px;
  color: #fec81f;
  font-family: 'Rancho', cursive;

}
.squaredirect {
  width: 372px;
  height: 176px;
  float: left;
  border: 4px solid #ee7f4b;
  margin-top: 382px;
  margin-left: -385px;
  position: absolute;
  box-shadow: 2px 2px 3px #1e1e1e;

}


.squarereview {
  width: 528px;
  height: 229px;
  float: left;
  border: 1px solid #6fa890;
  margin-top: 381px;
  margin-left: 25px;
  position: absolute;

}

.reviewyelp {
  cursor: pointer;
  font-size: 25px;
  color: #6fa890;
  font-family: 'Rancho', cursive;
}


.squarereview h2 {
  text-decoration: none;
  position: absolute;
  color: #6fa890;
  font-size: 25px;
  font-family: 'Rancho', cursive;
  z-index: 20;
  margin-left: 10px;
  margin-top: 10px;



}
.squarereview p {
  margin-left: 100px;
  margin-top: 60px;
  color: #fec81f;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.person2 {
  margin-left: -359px;
  margin-top: -49px;
  position: absolute;
  box-shadow: 2px 2px 3px #1e1e1e;
}
.person1 {
  margin-left: -359px;
  margin-top: -130px;
  position: absolute;
  box-shadow: 2px 2px 3px #1e1e1e;
}

.starreview {
  margin-left: 317px;
  margin-top: 398px;
  position: absolute;
  width: 2%;
  z-index: 100;

}

.starreview2 {
  margin-left: 336px;
  margin-top: 398px;
  position: absolute;
  width: 2%;
  z-index: 100;

}

.starreview3 {
  margin-left: 355px;
  margin-top: 398px;
  position: absolute;
  width: 2%;
  z-index: 100;

}


.starreview4 {
  margin-left: 374px;
  margin-top: 398px;
  position: absolute;
  width: 2%;
  z-index: 100;

}

.reviewarrow {
  margin-left: 525px;
  margin-top: 584px;
  position: absolute;
  width: 2%;
  z-index: 100;

}

.foodmenu {
  width: 377px;
  height: 392px;
  float: right;
  background: #ee7f4b;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 7px;
  box-shadow: 2px 2px 3px #1e1e1e;
}


.square {
  width: 250px;
  height: 180px;
  float: right;
  background: #ee7f4b;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
  box-shadow: 2px 2px 3px #1e1e1e;
}

.square1 {
  width: 377px;
  height: 392px;
  float: right;
  background: #ee7f4b;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 7px;
  background-image: url("../images/reservebackfill.png");
  box-shadow: 2px 2px 3px #1e1e1e;
}

.square1 h2 {
  font-family: 'Rancho', cursive;
  padding: 8px;
  margin-left: 28px;
  margin-top: 10px;
  font-size: 50px;
  color: #fec81f;
  text-shadow: 1px 1px 1px #1e1e1e;

}

.square1 p {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #fec81f;
  padding: 8px;
  margin-left: 43px;
  margin-top: -68px;
  text-shadow: 1px 1px 1px #1e1e1e;

}

.lefticons {
  position: relative;
  display: block;
  margin-left: 59px;
}

.reserveicon1 {
  margin-top: 12px;
  margin-left: 6px;


}

.reserveicon2 {
  margin-top: 27px;
  margin-left: 13px;
}

.reserveicon3 {
  margin-top: 15px;
}


.iconcontainer2 {
  width: 200px;
  float: right;
  margin-top: -70px;


}


.awardicons {
  margin-right: 15px;
  padding: 0px;
  width: 37px;
  margin-top: -5px;
}

.Logo {
  position: relative;
  z-index: 10;
  width: 300px;
  cursor:pointer;
  margin-top: 18px;
}


.magmenu {
  padding: 0px;
  width: 3%;
  position: absolute;
  z-index: 150;
  margin-left: 896px;
  margin-top: -282px;

}


.mag {
  padding: 0px;
  width: 3%;
  position: absolute;
  margin-left: -40px;
  margin-top: 584px;
  z-index: 150;
  margin-left: 896px;
  margin-top: -282px;

}

.mag2 {
  padding: 0px;
  width:3%;
  position: absolute;
  margin-left: -44px;
  margin-top: 580px;
  z-index: 150;

}
.container {

  position: relative;
  margin: 40px auto;
  text-align: center;
}



.button {
  position: absolute;
  display: inline-block;
  width: 246px;
  padding: 4px;
  background-color: #fec81f;
  font-size: 17px;
  color: #b84f3f;
  font-weight: bold;
  transition: all 200ms;
  z-index: 2;
  margin-left: -332px;
  margin-top: 307px;
  box-shadow: 2px 2px 3px #1e1e1e;

}
.button:before {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  width: 100%;
  height: 100%;
  border: 1px solid #fec81f;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.button:after {
  content: '';
  position: absolute;
  top: 0px;
  left:0px;
  width: 100%;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.2);

  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.button:hover {
  color: rgba(255,255,255,1.0);

  background-image: -webkit-linear-gradient(top, rgb(0, 154, 136) 43%, rgb(0, 154, 136) 100%);
  background-image: -moz-linear-gradient(top, rgb(0, 154, 136) 43%, rgb(0, 154, 136) 100%);
  background-image: -o-linear-gradient(top, rgb(0, 154, 136) 43%, rgb(0, 154, 136) 100%);
  background-image: -ms-linear-gradient(top, rgb(0, 154, 136) 43%, rgb(0, 154, 136) 100%);
  background-image: linear-gradient(top, rgb(0, 154, 136) 43%, rgb(0, 154, 136) 100%);

  -webkit-box-shadow: 0px 0px 5px #009a89;
  -moz-box-shadow: 0px 0px 5px #009a89;
  box-shadow: 0px 0px 5px #009a89;
}
.button:active {
  background-image: -webkit-linear-gradient(bottom, rgb(0, 126, 107) 43%, rgb(0, 154, 136) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(0, 126, 107) 43%, rgb(0, 154, 136) 100%);
  background-image: -o-linear-gradient(bottom, rgb(0, 126, 107) 43%, rgb(0, 154, 136) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(0, 126, 107) 43%, rgb(0, 154, 136) 100%);
  background-image: linear-gradient(bottom, rgb(0, 126, 107) 43%, rgb(0, 154, 136) 100%);
}

.newContainer {
  width: 522px;
  height: 285px;
  margin-left: 25px;
  margin-top: 73px;
  border: 4px solid #ee7f4b;


}



.newContainer2 {
  width: 522px;
  height: 76px;
  margin-left: 25px;
  margin-top: -396px;
  background-color:#ee7f4b;
  border: 4px solid #ee7f4b;
  background-image: url("../images/reservebackfill.png");
}

.newContainer2 h1 {
  font-family: 'Rancho', cursive;
  padding: 8px;
  margin-left: 28px;
  margin-top: 10px;
  font-size: 50px;
  color: #fec81f;
  text-shadow: 1px 1px 1px #1e1e1e;

}

.newContainer3 {
  margin-left: 4px;
  margin-top: -80px;

}
.newContainer3 p {
  font-size: 23px;
  display:inline-block;
  transform:scale(1,2);
  background-color:#6fa890;
  color: #ee7f4b;
  padding:0 15px;
  border-radius: 100%;
  z-index: 300;
  box-shadow: 2px 2px 3px #1e1e1e;

}

.buttonreserve {
  position: absolute;
  display: inline-block;
  width: 246px;
  padding: 4px;
  background-color: #fec81f;
  font-size: 17px;
  color: #b84f3f;
  font-weight: bold;
  transition: all 200ms;
  z-index: 2;
  margin-left: -611px;
  margin-top: 307px;
  box-shadow: 2px 2px 3px #1e1e1e;

}
.buttonreserve:before {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  width: 100%;
  height: 100%;
  border: 1px solid #fec81f;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.buttonreserve:after {
  content: '';
  position: absolute;
  top: 0px;
  left:0px;
  width: 100%;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.2);

  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.buttonreserve:hover {
  color: rgba(255,255,255,1.0);

  background-image: -webkit-linear-gradient(top, rgb(0, 154, 136) 43%, rgb(0, 154, 136) 100%);
  background-image: -moz-linear-gradient(top, rgb(0, 154, 136) 43%, rgb(0, 154, 136) 100%);
  background-image: -o-linear-gradient(top, rgb(0, 154, 136) 43%, rgb(0, 154, 136) 100%);
  background-image: -ms-linear-gradient(top, rgb(0, 154, 136) 43%, rgb(0, 154, 136) 100%);
  background-image: linear-gradient(top, rgb(0, 154, 136) 43%, rgb(0, 154, 136) 100%);

  -webkit-box-shadow: 0px 0px 5px #009a89;
  -moz-box-shadow: 0px 0px 5px #009a89;
  box-shadow: 0px 0px 5px #009a89;
}
.buttonreserve:active {
  background-image: -webkit-linear-gradient(bottom, rgb(0, 126, 107) 43%, rgb(0, 154, 136) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(0, 126, 107) 43%, rgb(0, 154, 136) 100%);
  background-image: -o-linear-gradient(bottom, rgb(0, 126, 107) 43%, rgb(0, 154, 136) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(0, 126, 107) 43%, rgb(0, 154, 136) 100%);
  background-image: linear-gradient(bottom, rgb(0, 126, 107) 43%, rgb(0, 154, 136) 100%);
}


.buttonsearch4 {
  position: absolute;
  display: inline-block;
  width: 34px;
  height: 37px;
  font-size: 25px;
  color: #6fa890;
  font-weight: bold;
  transition: all 200ms;
  z-index: 100;
  margin-left: 219px;
  margin-top: -284px;
  box-shadow: 2px 2px 3px #1e1e1e;
  padding-right: 1px;
  padding-left: 1px;


}
.buttonsearch3 {
  position: absolute;
  display: inline-block;
  width: 34px;
  height: 37px;
  font-size: 25px;
  color: #6fa890;
  font-weight: bold;
  transition: all 200ms;
  z-index: 100;
  margin-left: 604px;
  margin-top: -284px;
  box-shadow: 2px 2px 3px #1e1e1e;
  padding-right: 1px;
  padding-left: 1px;


}



.buttonsearch2 {
  position: absolute;
  display: inline-block;
  width: 34px;
  height: 37px;
  font-size: 25px;
  color: #6fa890;
  font-weight: bold;
  transition: all 200ms;
  z-index: 100;
  margin-left: 499px;
  margin-top: -284px;
  box-shadow: 2px 2px 3px #1e1e1e;
  padding-right: 1px;
  padding-left: 1px;

}
.buttonsearch4:before {
  content: 'Go';
  position: absolute;
  top: -1px;
  left: -1px;
  width: 100%;
  height: 100%;


  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.buttonsearch3:before {
  content: 'Go';
  position: absolute;
  top: -1px;
  left: -1px;
  width: 100%;
  height: 100%;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

}

.buttonsearch2:before {
  content: 'Go';
  position: absolute;
  top: -1px;
  left: -1px;
  width: 100%;
  height: 100%;




  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.buttonsearch4:after {
  content: 'Go';
  position: absolute;
  top: 0px;
  left:0px;
  width: 100%;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.2);



}
.buttonsearch3:after {
  content: 'Go';
  position: absolute;
  top: 0px;
  left:0px;
  width: 100%;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.2);



}

.buttonsearch2:after {
  content: 'Go';
  position: absolute;
  top: 0px;
  left:0px;
  width: 100%;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.2);




}

.buttonsearch4:hover {
  color: rgba(255,255,255,1.0);

  background-image: -webkit-linear-gradient(top, rgb(0, 154, 136) 43%, rgb(0, 154, 136) 100%);
  background-image: -moz-linear-gradient(top, rgb(0, 154, 136) 43%, rgb(0, 154, 136) 100%);
  background-image: -o-linear-gradient(top, rgb(0, 154, 136) 43%, rgb(0, 154, 136) 100%);
  background-image: -ms-linear-gradient(top, rgb(0, 154, 136) 43%, rgb(0, 154, 136) 100%);
  background-image: linear-gradient(top, rgb(0, 154, 136) 43%, rgb(0, 154, 136) 100%);

  -webkit-box-shadow: 0px 0px 5px #009a89;
  -moz-box-shadow: 0px 0px 5px #009a89;
  box-shadow: 0px 0px 5px #009a89;
}

.buttonsearch3:hover {
  color: rgba(255,255,255,1.0);

  background-image: -webkit-linear-gradient(top, rgb(0, 154, 136) 43%, rgb(0, 154, 136) 100%);
  background-image: -moz-linear-gradient(top, rgb(0, 154, 136) 43%, rgb(0, 154, 136) 100%);
  background-image: -o-linear-gradient(top, rgb(0, 154, 136) 43%, rgb(0, 154, 136) 100%);
  background-image: -ms-linear-gradient(top, rgb(0, 154, 136) 43%, rgb(0, 154, 136) 100%);
  background-image: linear-gradient(top, rgb(0, 154, 136) 43%, rgb(0, 154, 136) 100%);

  -webkit-box-shadow: 0px 0px 5px #009a89;
  -moz-box-shadow: 0px 0px 5px #009a89;
  box-shadow: 0px 0px 5px #009a89;
}


.buttonsearch2:hover {
  color: rgba(255,255,255,1.0);

  background-image: -webkit-linear-gradient(top, rgb(0, 154, 136) 43%, rgb(0, 154, 136) 100%);
  background-image: -moz-linear-gradient(top, rgb(0, 154, 136) 43%, rgb(0, 154, 136) 100%);
  background-image: -o-linear-gradient(top, rgb(0, 154, 136) 43%, rgb(0, 154, 136) 100%);
  background-image: -ms-linear-gradient(top, rgb(0, 154, 136) 43%, rgb(0, 154, 136) 100%);
  background-image: linear-gradient(top, rgb(0, 154, 136) 43%, rgb(0, 154, 136) 100%);

  -webkit-box-shadow: 0px 0px 5px #009a89;
  -moz-box-shadow: 0px 0px 5px #009a89;
  box-shadow: 0px 0px 5px #009a89;
}

.buttonsearch4:active {
  background-image: -webkit-linear-gradient(bottom, rgb(0, 126, 107) 43%, rgb(0, 154, 136) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(0, 126, 107) 43%, rgb(0, 154, 136) 100%);
  background-image: -o-linear-gradient(bottom, rgb(0, 126, 107) 43%, rgb(0, 154, 136) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(0, 126, 107) 43%, rgb(0, 154, 136) 100%);
  background-image: linear-gradient(bottom, rgb(0, 126, 107) 43%, rgb(0, 154, 136) 100%);
}

.buttonsearch3:active {
  background-image: -webkit-linear-gradient(bottom, rgb(0, 126, 107) 43%, rgb(0, 154, 136) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(0, 126, 107) 43%, rgb(0, 154, 136) 100%);
  background-image: -o-linear-gradient(bottom, rgb(0, 126, 107) 43%, rgb(0, 154, 136) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(0, 126, 107) 43%, rgb(0, 154, 136) 100%);
  background-image: linear-gradient(bottom, rgb(0, 126, 107) 43%, rgb(0, 154, 136) 100%);
}

.buttonsearch2:active {
  background-image: -webkit-linear-gradient(bottom, rgb(0, 126, 107) 43%, rgb(0, 154, 136) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(0, 126, 107) 43%, rgb(0, 154, 136) 100%);
  background-image: -o-linear-gradient(bottom, rgb(0, 126, 107) 43%, rgb(0, 154, 136) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(0, 126, 107) 43%, rgb(0, 154, 136) 100%);
  background-image: linear-gradient(bottom, rgb(0, 126, 107) 43%, rgb(0, 154, 136) 100%);
}



.buttondirect {
  position: absolute;
  display: inline-block;
  width: 34px;
  height: 32px;
  padding: 0px;

  font-size: 23px;
  color: #fec81f;
  font-weight: bold;
  transition: all 200ms;
  z-index: 2;
  margin-left: -52px;
  margin-top: 579px;
  box-shadow: 2px 2px 3px #1e1e1e;



}
.buttondirect:before {
  content: 'Go';
  position: absolute;
  top: -1px;
  left: -1px;
  width: 100%;
  height: 100%;


  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -border-radius: 5px;
}
.buttondirect:after {
  content: 'Go';
  position: absolute;
  top: 0px;
  left:0px;
  width: 100%;
  height: 100%;
  background-color: #ee7f4b;


}
.buttondirect:hover {
  color: rgba(255,255,255,1.0);

  background-image: -webkit-linear-gradient(top, rgb(0, 154, 136) 43%, rgb(0, 154, 136) 100%);
  background-image: -moz-linear-gradient(top, rgb(0, 154, 136) 43%, rgb(0, 154, 136) 100%);
  background-image: -o-linear-gradient(top, rgb(0, 154, 136) 43%, rgb(0, 154, 136) 100%);
  background-image: -ms-linear-gradient(top, rgb(0, 154, 136) 43%, rgb(0, 154, 136) 100%);
  background-image: linear-gradient(top, rgb(0, 154, 136) 43%, rgb(0, 154, 136) 100%);

  -webkit-box-shadow: 0px 0px 5px #009a89;
  -moz-box-shadow: 0px 0px 5px #009a89;
  box-shadow: 0px 0px 5px #009a89;
}
.buttondirect:active {
  background-image: -webkit-linear-gradient(bottom, rgb(0, 126, 107) 43%, rgb(0, 154, 136) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(0, 126, 107) 43%, rgb(0, 154, 136) 100%);
  background-image: -o-linear-gradient(bottom, rgb(0, 126, 107) 43%, rgb(0, 154, 136) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(0, 126, 107) 43%, rgb(0, 154, 136) 100%);
  background-image: linear-gradient(bottom, rgb(0, 126, 107) 43%, rgb(0, 154, 136) 100%);
}



.buttondirect2 {
  position: absolute;
  display: inline-block;
  width: 34px;
  height: 32px;
  padding: 0px;
  margin-left: 525px;
  margin-top: 2px;
  font-size: 23px;
  color: #ee7f4b;
  font-weight: bold;
  transition: all 200ms;
  z-index: 2;
  box-shadow: 2px 2px 3px #1e1e1e;

}
.buttondirect2:before {
  content: 'Go';
  position: absolute;
  width: 100%;
  height: 100%;


  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -border-radius: 5px;
}
.buttondirect2:after {
  content: 'Go';
  position: absolute;
  top: 0px;
  left:0px;
  width: 100%;
  height: 100%;
  background-color: #fec81f;


}
.buttondirect2:hover {
  color: rgba(255,255,255,1.0);


  background-image: -webkit-linear-gradient(top, #fec81f 43%, #fec81f 100%);
  background-image: -moz-linear-gradient(top, #fec81f 43%, #fec81f 100%);
  background-image: -o-linear-gradient(top, #fec81f 43%, #fec81f 100%);
  background-image: -ms-linear-gradient(top, #fec81f 43%, #fec81f 100%);
  background-image: linear-gradient(top, #fec81f 43%, #fec81f 100%);

  -webkit-box-shadow: 0px 0px 5px #fec81f;
  -moz-box-shadow: 0px 0px 5px #fec81f;
  box-shadow: 0px 0px 5px #fec81f;
}
.buttondirect2:active {
  background-image: -webkit-linear-gradient(bottom, #fec81f 43%, #fec81f 100%);
  background-image: -moz-linear-gradient(bottom, #fec81f 43%, #fec81f 100%);
  background-image: -o-linear-gradient(bottom, #fec81f 43%, #fec81f 100%);
  background-image: -ms-linear-gradient(bottom,  43%, #fec81f 100%);
  background-image: linear-gradient(bottom, #fec81f 43%, #fec81f 100%);
}

.car {
  position: absolute;
  display: inline-block;
  width: 34px;
  height: 32px;
  padding: 0px;
  margin-left: 105px;
  margin-top: 2px;
  font-size: 23px;
  background-image: url("../images/car.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
  transition: all 200ms;
  z-index: 2;
  box-shadow: 2px 2px 3px #1e1e1e;

}
.car:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;


  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -border-radius: 5px;
}
.car:after {
  content: '';
  position: absolute;
  top: 0px;
  left:0px;
  width: 100%;
  height: 100%;
  background-color: #fec81f;
  background-image: url("../images/car.png");

}
.car:hover {
  color: #fec81f;

  background-image: -webkit-linear-gradient(top, #fec81f 43%, #fec81f 100%);
  background-image: -moz-linear-gradient(top, #fec81f 43%, #fec81f 100%);
  background-image: -o-linear-gradient(top, #fec81f 43%, #fec81f 100%);
  background-image: -ms-linear-gradient(top, #fec81f 43%, #fec81f 100%);
  background-image: linear-gradient(top, #fec81f 43%, #fec81f 100%);

  -webkit-box-shadow: 0px 0px 5px #fec81f;
  -moz-box-shadow: 0px 0px 5px #fec81f;
  box-shadow: 0px 0px 5px #fec81f;
}
.car:active {
  background-image: -webkit-linear-gradient(bottom, #fec81f 43%, #fec81f 100%);
  background-image: -moz-linear-gradient(bottom, #fec81f 43%, #fec81f 100%);
  background-image: -o-linear-gradient(bottom, #fec81f 43%, #fec81f 100%);
  background-image: -ms-linear-gradient(bottom,  43%, #fec81f 100%);
  background-image: linear-gradient(bottom, #fec81f 43%, #fec81f 100%);
}

.bus {
  position: absolute;
  display: inline-block;
  width: 34px;
  height: 32px;
  padding: 0px;
  margin-left: 146px;
  margin-top: 2px;
  font-size: 23px;
  background-image: url("../images/bus.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
  transition: all 200ms;
  z-index: 2;
  box-shadow: 2px 2px 3px #1e1e1e;

}
.bus:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;


  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -border-radius: 5px;
}
.bus:after {
  content: '';
  position: absolute;
  top: 0px;
  left:0px;
  width: 100%;
  height: 100%;
  background-color: #fec81f;
  background-image: url("../images/bus.png");

}
.bus:hover {
  color: #fec81f;

  background-image: -webkit-linear-gradient(top, #fec81f 43%, #fec81f 100%);
  background-image: -moz-linear-gradient(top, #fec81f 43%, #fec81f 100%);
  background-image: -o-linear-gradient(top, #fec81f 43%, #fec81f 100%);
  background-image: -ms-linear-gradient(top, #fec81f 43%, #fec81f 100%);
  background-image: linear-gradient(top, #fec81f 43%, #fec81f 100%);

  -webkit-box-shadow: 0px 0px 5px #fec81f;
  -moz-box-shadow: 0px 0px 5px #fec81f;
  box-shadow: 0px 0px 5px #fec81f;
}
.bus:active {
  background-image: -webkit-linear-gradient(bottom, #fec81f 43%, #fec81f 100%);
  background-image: -moz-linear-gradient(bottom, #fec81f 43%, #fec81f 100%);
  background-image: -o-linear-gradient(bottom, #fec81f 43%, #fec81f 100%);
  background-image: -ms-linear-gradient(bottom,  43%, #fec81f 100%);
  background-image: linear-gradient(bottom, #fec81f 43%, #fec81f 100%);
}


.walk {
  position: absolute;
  display: inline-block;
  width: 34px;
  height: 32px;
  padding: 0px;
  margin-left: 65px;
  margin-top: 2px;
  background-image: url("../images/walk.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
  transition: all 200ms;
  z-index: 2;
  box-shadow: 2px 2px 3px #1e1e1e;

}
.walk:before {
  content: '';
  position: absolute;
  width: 100%;



  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -border-radius: 5px;
}
.walk:after {
  content: '';
  position: absolute;
  top: 0px;
  left:0px;
  width: 100%;
  height: 100%;
  background-color: #fec81f;
  background-image: url("../images/walk.png");


}
.walk:hover {
  color: #fec81f;

  background-image: -webkit-linear-gradient(top, #fec81f 43%, #fec81f 100%);
  background-image: -moz-linear-gradient(top, #fec81f 43%, #fec81f 100%);
  background-image: -o-linear-gradient(top, #fec81f 43%, #fec81f 100%);
  background-image: -ms-linear-gradient(top, #fec81f 43%, #fec81f 100%);
  background-image: linear-gradient(top, #fec81f 43%, #fec81f 100%);

  -webkit-box-shadow: 0px 0px 5px #fec81f;
  -moz-box-shadow: 0px 0px 5px #fec81f;
  box-shadow: 0px 0px 5px #fec81f;
}
.walk:active {
  background-image: -webkit-linear-gradient(bottom, #fec81f 43%, #fec81f 100%);
  background-image: -moz-linear-gradient(bottom, #fec81f 43%, #fec81f 100%);
  background-image: -o-linear-gradient(bottom, #fec81f 43%, #fec81f 100%);
  background-image: -ms-linear-gradient(bottom,  43%, #fec81f 100%);
  background-image: linear-gradient(bottom, #fec81f 43%, #fec81f 100%);
}


.input[type="text"] {
  display: block;
  margin: 0;
  font-family: sans-serif;
  font-size: 50px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  list-style: none;
  overflow: hidden;

}

.style-5 input[type="text"] {
  padding: 5px;
  border: solid 3px #6fa890;
  transition: box-shadow 0.3s;
  font-family: 'Open Sans', sans-serif;
  font-color: #666666;
  font-size: 15px;
  background: #6fa890;
  position: absolute;
  display: inline-flex;
  right: 3px;
  z-index: 100;
  width: 31%;
  top: -37%;
  margin-right: 72px;
  box-shadow: 2px 2px 3px #1e1e1e;
}


.input[type="text"] {
  display: block;
  margin: 0;
  font-family: sans-serif;
  font-size: 50px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  list-style: none;
  overflow: hidden;


}

.style-2 input[type="text"] {
  padding: 5px;
  border: solid 1px #ee7f4b;
  box-shadow: inset 1px 1px 2px 0 #fec81f;
  transition: box-shadow 0.3s;
  font-family: 'Open Sans', sans-serif;
  font-color: #666666;
  font-size: 15px;
  background: #ee7f4b;
  position: absolute;
  display: inline-flex;
  right: 3px;
  z-index: 100;
  right: 626px;
  top: 94%;
  width: 322px;
  box-shadow: 2px 2px 3px #1e1e1e;

}


.input[type="text"] {
  display: block;
  margin: 0;
  font-family: sans-serif;
  font-size: 50px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  list-style: none;
  overflow: hidden;


}

.style-3 input[type="text"] {
  padding: 5px;
  border: solid 1px #ee7f4b;
  transition: box-shadow 0.3s;
  font-family: 'Open Sans', sans-serif;
  font-color: #666666;
  font-size: 15px;
  background: #fec81f;
  position: absolute;
  display: inline-flex;
  right: 3px;
  z-index: 100;
  right: 435px;
  top: 89%;
  width: 442px;
  box-shadow: 2px 2px 3px #1e1e1e;

}



.input[type="text"] {
  display: block;
  margin: 0;
  font-family: sans-serif;
  font-size: 50px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  list-style: none;
  overflow: hidden;


}

.style-4 input[type="text"] {
  padding: 5px;
  border: solid 1px #ee7f4b;
  transition: box-shadow 0.3s;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  background: #fec81f;
  position: absolute;
  display: inline-flex;
  z-index: 100;
  right: 611px;
  top: 14%;
  width: 309px;
  box-shadow: 2px 2px 3px #1e1e1e;
}

.input[type="text"] {
  display: block;
  margin: 0;
  font-family: sans-serif;
  font-size: 50px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  list-style: none;
  overflow: hidden;


}

.style-5 input[type="text"] {
  padding: 5px;
  border: solid 1px #ee7f4b;
  transition: box-shadow 0.3s;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  background: #fec81f;
  position: absolute;
  display: inline-flex;
  z-index: 100;
  right: 611px;
  top: 21%;
  width: 309px;
  box-shadow: 2px 2px 3px #1e1e1e;
}


.input[type="text"] {
  display: block;
  margin: 0;
  font-family: sans-serif;
  font-size: 50px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  list-style: none;
  overflow: hidden;


}

.style-6 input[type="text"] {
  padding: 5px;
  border: solid 1px #ee7f4b;
  transition: box-shadow 0.3s;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  background: #fec81f;
  position: absolute;
  display: inline-flex;
  z-index: 100;
  right: 611px;
  top: 28%;
  width: 309px;
  box-shadow: 2px 2px 3px #1e1e1e;
}

.input[type="text"] {
  display: block;
  margin: 0;
  font-family: sans-serif;
  font-size: 50px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  list-style: none;
  overflow: hidden;


}

.style-7 input[type="text"] {
  padding: 5px;
  border: solid 1px #ee7f4b;
  transition: box-shadow 0.3s;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  background: #fec81f;
  position: absolute;
  display: inline-flex;
  z-index: 100;
  right: 611px;
  top: 35%;
  width: 309px;
  box-shadow: 2px 2px 3px #1e1e1e;
}

.input[type="text"] {
  display: block;
  margin: 0;
  font-family: sans-serif;
  font-size: 50px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  list-style: none;
  overflow: hidden;


}

.style-8 input[type="text"] {
  padding: 5px;
  border: solid 1px #ee7f4b;
  transition: box-shadow 0.3s;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  background: #fec81f;
  position: absolute;
  display: inline-flex;
  z-index: 100;
  right: 611px;
  top: 42%;
  width: 309px;
  box-shadow: 2px 2px 3px #1e1e1e;
}
.google {
  margin-left: -5px;
  margin-top: 8px;
}



.button1 {
  position: absolute;
  display: inline-block;
  width: 50px;
  padding: 4px;
  background-color: #6fa890;
  font-size: 17px;
  color: #6fa890;
  font-weight: bold;
  transition: all 200ms;
  z-index: 2;
  margin-left: -332px;
  margin-top: 307px;

}

.imagecontainer {
  width: 670px;
  height: 634px;
  background-color: #b84f3f;
  margin-top: -26px;
  right: 0px;
  padding: 5px;
  box-shadow: 2px 2px 3px #1e1e1e;
  position: absolute;

}

.imagecontainer2 {
  width: 900px;
  height: 634px;
  background-color: #262626;
  margin-top: 15px;
  right: 30px;
  padding: 0px;
  box-shadow: 2px 2px 3px #1e1e1e;
  position: absolute;

}
.scrollcontainer {
  width: 250px;
  height: 634px;
  background-color: #ee7f4b;
  overflow: scroll;
  margin-top: -26px;
  padding: 5px;
  box-shadow: 2px 2px 3px #1e1e1e;

}

.directcontainer {
  width: 560px;
  height: 620px;
  background-color: #ee7f4b;
  margin-top: -26px;
  padding: 5px;
  box-shadow: 2px 2px 3px #1e1e1e;
  background-image: url("../images/reservebackfill.png");

}



.directcontainer h1 {
  font-family: 'Rancho', cursive;
  padding-left: 8px;
  margin-left: 28px;
  margin-top: 10px;
  font-size: 50px;
  color: #fec81f;
  text-shadow: 1px 1px 1px #1e1e1e;
}

.directcontainer2 {
  width: 364px;
  height: 305px;
  background-color: #ee7f4b;
  background-image: url("../images/reservebackfill.png");
  overflow: scroll;
  margin-top: -630px;
  margin-left: 587px;
  padding: 5px;
  box-shadow: 2px 2px 3px #1e1e1e;

}

.directcontainer2 h1 {
  font-family: 'Rancho', cursive;
  padding-left: 8px;
  margin-left: 28px;
  margin-top: 10px;
  font-size: 60px;
  color: #fec81f;
  text-shadow: 1px 1px 1px #1e1e1e;
}

.directcontainer2 h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #b84f3f;
  text-shadow: 1px 1px 2px #1e1e1e;
  padding-left: 49px;

}

.directcontainer2 p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  padding-left: 21px;

}




.directcontainer3 {
  width: 364px;
  height: 132px;
  background-color: #ee7f4b;
  margin-top: 16px;
  margin-left: 587px;
  padding: 5px;
  box-shadow: 2px 2px 3px #1e1e1e;
  overflow: scroll;

}

.directcontainer3 h1 {
  font-family: 'Rancho', cursive;
  font-size: 20px;
  color: #6fa890;
  text-shadow: 1px 1px 1px #1e1e1e;
}

.directcontainer3 p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;

}
.directcontainer4 {
  width: 364px;
  height: 132px;
  background-color: #ee7f4b;
  margin-top: 15px;
  margin-left: 587px;
  padding: 5px;
  box-shadow: 2px 2px 3px #1e1e1e;
  overflow: scroll;


}

.directcontainer4 h1 {
  font-family: 'Rancho', cursive;
  font-size: 20px;
  color: #6fa890;
  text-shadow: 1px 1px 1px #1e1e1e;
}


.directcontainer4 p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;

}
.scrollcontainer h1 {
  font-family: 'Rancho', cursive;
  text-shadow: 2px 2px 3px #b84f3f;
  font-size: 35px;
  color: #fec81f;
}

.scrollcontainer h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #b84f3f;
  text-shadow: 1px 1px 2px #1e1e1e;
}

.scrollcontainer p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;

}


a{cursor:pointer;}


.image-gallery{
  margin:0 auto;
  width:300px;

}

.image-gallery .big-image{
  margin:0 auto;
  position:absolute;


}
.image-gallery .big-image img{
  opacity:0;position:absolute;left: -125px;top:-140px; width:550px;
  margin:0 auto;
  transition: opacity 350ms;


}


.image-gallery .big-image img:target{opacity:1;}


.image-gallery .big-image img:target ~ img#default{opacity:0;}


.image-gallery .big-image img#default{opacity:1;}



.image-gallery .buttonimage {

  font-size: 23px;
  display:inline-block;
  transform:scale(1,2);
  background-color:#6fa890;
  color:#b84f3f;
  padding:0 15px;
  border-radius: 100%;
  z-index: 300;
  box-shadow: 2px 2px 3px #1e1e1e;
}
.image-gallery .prev {
  position:absolute;
  left: 24px;
  top: 542px;}

.image-gallery .next {
  position:absolute;
  right: 25px;
  top: 542px;

}


.image-gallery .prev:active ~ .thumbs  ul{
  transform:translateX(0%);
  transition:3s all;
}
.image-gallery  .next:active ~ .thumbs  ul{
  transform:translateX(-90%);
  transition:3s all;
}


.image-gallery .thumbs{
  overflow:hidden; white-space:nowrap; margin: 166px -134px;
}
.image-gallery .thumbs ul{
  float: left; transition:999999s all; transform:translateX(0); margin-top:350px;
}
.image-gallery .thumbs li{display:inline-block; margin-right:3px;}
.image-gallery .thumbs li a:hover{opacity:1;}
.image-gallery .thumbs li a{opacity:0.85;}
.image-gallery .thumbs li a:focus{opacity:1;}
.image-gallery .thumbs li img{width: 92px; padding-top: 4px; padding-right: 2px;
  padding-left: 2px;}

* { padding: 0; margin: 0; }
html { min-height: 100%; background: dimgrey; }
.gallery { text-align: center; }
.current-image-wrapper {
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.current-image-wrapper img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  opacity: 1;
  transition: opacity 1.85s;
}
.current-image-wrapper .hideme {
  opacity: 0;
  transition: opacity 0s;
}
.thumbnails li, .thumbnails a, .thumbnails img {
  display: inline-block;
  width: 4.5em;
  height: 3em;
  border: none;
  padding: .5%;
  padding-top: 1%;

}
.thumbnails a { outline: none; }

textarea, input:not([type=button]):not([type=submit]) {
	width: 100%;
	border: 1px solid rgba(0,0,0,.2);
	padding: .5em 1em;
  font-family: sans-serif;
}
input[type=button], input[type=submit] {
	cursor: pointer;
	margin: 0;
	padding: .5em 2em;
	background: #0298b6;
	border: none;
	color: #fff;
}
.group:after {
	content: "";
	display: table;
	clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}
form {
  width: 30em;
  margin: 0 auto;
}
form div.group > div {
	width: 46%;
	margin: 0 0 .5em;
}
